:root{
    --color-letter1: #212121;
    --color-letter2: #757575;
    --color-active: #2196F3;
    --color-button: #F5F4FA;
    --color-background: #2F303A;
    --color-background-page: #E5E5E5;    
}
body{
    font-family: 'roboto', sans-serif;
    color: var(--color-letter1);
    font-size: 16px;
    font-style: normal;
}
.logo {
    color: var(--color-active);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    text-decoration: none;
}
.toggle:hover,
.toggle:focus {
    color: var(--color-active);
    cursor: pointer;
}
.toggle {
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.41px;
    letter-spacing: 0.02em;
}
.toggle .contact {
    color: var(--color-letter2);
}
.contact {
    color: #ffffff;
}
ul {
    list-style: none;
}
.footer {
    color: #ffffff;
    background-color: var(--color-background);

}




h1 {
    font-size: 44px;
    font-style: normal;
    font-weight: 900;
    line-height: 60px;
    color: #ffffff;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.title button {
    color: #ffffff;
    background-color: #2196F3;
    font-weight: 700;
    line-height: 30px;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
}
h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.03em;
}


.main-title {
    background-color: var(--color-background);
    }
button{
    background-color: var(--color-button);
}
button:hover,
button:focus{
    color: #ffffff;
    background-color: var(--color-active);
    cursor: pointer;
}

.features h3{
    color: var(--color-letter1);
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.features p {
    color: var(--color-letter2);
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}
.team {
    background-color: var(--color-button);
}


