:root{
    --color-letter1: #212121;
    --color-letter2: #757575;
    --color-active: #2196F3;
    --color-button: #F5F4FA;
    --color-background: #2F303A;
    --color-background-page: #E5E5E5;    
}
body{
    font-family: 'roboto', sans-serif;
    font-style: normal;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: var(--color-letter1);
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
.logo {
    font-family: 'raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: var(--color-active);
}
.nav .logo {
    text-align: right;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.menu a {
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--color-letter1);
}
.address a {
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--color-letter2);
}
.toggle:hover,
.toggle:focus {
    color: var(--color-active);
}
.address-footer a {
    font-weight: 400;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.6);
}
.address-footer a:hover,
.address-footer a:focus {
    color: rgba(255, 255, 255, 1);
}
.footer {
    background-color: var(--color-background);
}